@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("images/frogs-traveling.jpg") no-repeat fixed top right;
}

#container{
	width: 800px;
	margin: 0 auto:
		background-color: blue;
}
.left{
	width: 380px;
	height: 200px;
	background-color: rgba(255,255,255,0.50);
	border-radius: 25px;
	float:left;
	margin: 0px 10px 0px 10px;
}

.right{
	width: 380px;
	height: 200px;
	background-color: rgba(255,255,255,0.50);
	border-radius: 25px;
	float:left;
}

footer{
	background-color:rgba(255,255,255,1.00);
	clear:both;
}